*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Verdana;
	background-color: black;
	text-align: center;
}

h1{
	font-weight: normal;
	font-size: 50px;
	color: white;
}

p a{
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}

.grayFont {
	color: gray;
}

p.grayFont {
	font-size: 21px;
}

#footer {
	text-align: right;
	color: white;
}